<% @page_title = "Sections"%>

<h2>Sections</h2>

<%= link_to("Create new Section", {:action => 'new'})%>
<p></p>

<div>
  <table border="1">
  <tr>
    <th>Author</th>
    <th>Name</th>
    <th>Position</th>
    <th>Visible</th>
    <th>Content_type</th>
    <th>Actions</th>
  </tr>
  <tr>
    <% @sections.each do |x| %>
    <td><%= Page.find(x.page_id).name %></td>
    <td><%= x.name %></td>
    <td><%= x.position %></td>
    <td><%= status_tag(x.visible) %></td>
    <td><%= x.content_type %></td>

    <td>
      <%= link_to("Show", {:action => "show", :id => x.id})%>
      <%= link_to("Edit", {:action => "edit", :id => x.id})%>
      <%= link_to("Delete", {:action => "delete", :id => x.id})%>
    </td>

  </tr>
  <% end %>
  </table>
</div>
<%= link_to("Edit Pages", {:controller => 'pages', :action => 'index'})%>
